.*
!.gitignore

*/*.pyc
*/*.swp
*/*.swo
*/.DS_Store
*/__pycache__/*
pysts/kerasts/*.pyc
pysts/kerasts/*.swp
pysts/kerasts/*.swo
pysts/kerasts/__pycache__/*

/data/question-pairs*
/data/data_*
/data/glove.6B.*d.txt

*.png
nohup.out
*_*_log.txt
/outs/*
/weights/*
/*-res.pickle
