.*
!.gitignore
*/*.pyc
*/__pycache__
pysts/kerasts/*.pyc
pysts/kerasts/__pycache__/

/glove.6B.*d.txt
/*weights*.h5
/*-res.pickle
/*_*_log.txt
/weights/
/tools/weights-ntb.h5

*/.DS_Store
*/*.swp
*/*.swo
pysts/kerasts/*.swp
pysts/kerasts/*.swo
